# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# macOS
.DS_Store

# VSCode settings
.vscode/

# SQLite DB
*.db

# Env file
.env

# ngrok executable & zip
ngrok
ngrok-stable-linux-amd64.zip*

# Logs
*.log
